<h1>Comments to be approved</h1>

<table class = table>
  <tr>
    <th>Author</th>
    <th>Text</th>
  </tr>

  <% unless @comments.nil? %>
    <% @comments.each do |comment| %>
      <!--<%= form_tag url: 'posts#show' do %>-->
          <tr>
            <td><%= comment.author %></td>
            <td><%= comment.text %></td>
            <td><%= link_to 'Destroy', [comment.post, comment],
                            method: :delete,
                            data: { confirm: 'Are you sure?' } %></td>
            <!--<td>-->
              <!--<%= submit_tag %>-->
            <!--</td>-->
          </tr>
      <!--<% end %>-->
    <% end %>
  <% else %>
    <h2>Nothing to approve</h2>
  <% end %>

</table>
