<%= render 'layouts/link' %>

<h1>Comments to be approved</h1>

<% unless @comments.empty? %>
<table class = table>
  <tr>
    <th>Author</th>
    <th>Text</th>
  </tr>
    <% @comments.each do |comment| %>
      <%= form_tag url: 'posts#show' do %>
          <tr>
            <td><%= comment.author %></td>
            <td><%= comment.text %></td>
            <td><%= link_to 'Destroy', [comment.post, comment],
                            method: :delete,
                            data: { confirm: 'Are you sure?' } %></td>
            <td>
              <% unless comment.approved %>
                <label>
                  <%= check_box_tag :approved, options = comment.id %>
                  Approve
                </label>
              <% end %>
            </td>
            <td>
              <%= submit_tag %>
            </td>
          </tr>
      <% end %>
    <% end %>
  <% else %>
    <h2>Nothing to approve</h2>
  <% end %>

</table>

<%= render partial: "layouts/pagination", locals: { items: @comments } %>
