<h1>All Users</h1>

<table class = table>
  <tr>
    <th>Email</th>
    <th>Admin</th>
  </tr>

  <% @users.each do |user| %>
      <%= form_tag url: 'users#show' do %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.admin %></td>
        <td>
          <% unless user.admin %>
            <label>
              <%= check_box_tag :grant_admin, options = user.id %>
              Grant admin
            <% else %>
              <%= check_box_tag :grant_admin, checked = true, options = user.id %>
              <%= hidden_field_tag :grant_admin_hidden, options = user.id %>
              Grant admin
            </label>
          <% end %>
        </td>
        <td>
          <% unless user == current_user %>
            <label>
              <%= check_box_tag :block_user %>
              Block user
            </label>
          <% end %>
        </td>
        <td>
          <%= submit_tag %>
        </td>
      </tr>
      <% end %>
<% end %>

</table>

