<%= render 'layouts/link' %>

<h4>Search user</h4>
<%= search_form_for @q, url: users_show_path do |f| %>
    <%= f.label :email_cont %>
    <%= f.search_field :email_cont %>
    <%= f.submit %>
<% end %>
<%= link_to 'Cancel search', users_show_path %>

<h1>All Users</h1>

<table class = table>
  <tr>
    <th>Email or name for VK users</th>
    <th>Admin</th>
    <th>Blocked</th>
  </tr>

  <% @users.each do |user| %>
      <%= form_tag url: 'users#show' do %>
      <tr>
        <td><%= user_email_or_name(user) %></td>
        <td><%= user.admin %></td>
        <td><%= user.blocked %></td>
        <td>
          <% if user.admin && user != current_user %>
            <label>
              <%= check_box_tag :grant_admin, checked = true, options = user.id %>
              <%= hidden_field_tag :grant_admin_hidden, options = user.id %>
              Grant admin
            <% elsif user != current_user %>
              <%= check_box_tag :grant_admin, options = user.id %>
              Grant admin
            </label>
          <% end %>
        </td>
        <td>
          <% if user.blocked && user != current_user %>
            <label>
              <%= check_box_tag :block_user, checked = true, options = user.id %>
              <%= hidden_field_tag :block_user_hidden, options = user.id %>
              Block user
          <% elsif user != current_user %>
              <%= check_box_tag :block_user, options = user.id %>
              Block user
            </label>
          <% end %>
        </td>
        <% unless user_email_or_name(user) == user_email_or_name(current_user) %>
          <td>
            <%= submit_tag %>
          </td>
      <% end %>
      </tr>
      <% end %>
<% end %>

</table>

<% if @pagination_needed %>
  <%= render partial: "layouts/pagination", locals: { items: @users } %>
<% end %>
