<%= render 'layouts/link' %>

<h1>All Users</h1>

<table class = table>
  <tr>
    <th>Email</th>
    <th>Admin</th>
    <th>Blocked</th>
  </tr>

  <% @users.each do |user| %>
      <%= form_tag url: 'users#show' do %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.admin %></td>
        <td><%= user.blocked %></td>
        <td>
          <% if user.admin && user != current_user %>
            <label>
              <%= check_box_tag :grant_admin, checked = true, options = user.id %>
              <%= hidden_field_tag :grant_admin_hidden, options = user.id %>
              Grant admin
            <% elsif user != current_user %>
              <%= check_box_tag :grant_admin, options = user.id %>
              Grant admin
            </label>
          <% end %>
        </td>
        <td>
          <% if user.blocked && user != current_user %>
            <label>
              <%= check_box_tag :block_user, checked = true, options = user.id %>
              <%= hidden_field_tag :block_user_hidden, options = user.id %>
              Block user
          <% elsif user != current_user %>
              <%= check_box_tag :block_user, options = user.id %>
              Block user
            </label>
          <% end %>
        </td>
        <% unless user.email == current_user.email %>
          <td>
            <%= submit_tag %>
          </td>
      <% end %>
      </tr>
      <% end %>
<% end %>

</table>

<%= render partial: "layouts/pagination", locals: { items: @users } %>

