
<h1><%= "#{current_user.email} profile" %></h1>

<p><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></p>
<p><%= link_to 'All posts', get_all_posts_path %></p>

<% unless current_user.blocked %>
  <p><%= link_to 'My Blog', controller: 'posts' %></p>
<% end %>

<% if current_user.admin %>
  <p><%= link_to 'All users', users_show_path %></p>
  <p><%= link_to 'All comments to approve', comments_show_path %></p>
<% end %>
