<%= render 'layouts/link' %>

<p>Search post</p>
<%= search_form_for @q, url: get_all_posts_path do |f| %>
  <%= f.label :title_cont %>
  <%= f.search_field :title_cont %>
  <%= f.submit %>
<% end %>
<%= link_to 'Cancel search', get_all_posts_path %>

<h1>Listing all posts</h1>

<table class = table>
  <tr>
    <th>Author</th>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% @posts.each do |post| %>
    <%= form_tag url: 'posts#show' do %>
      <tr>
        <td><%= user_email_or_name(post.user) %></td>
        <td><%= post.title %></td>
        <td><%= post.text %></td>
        <td><%= link_to 'Show', post_path(post) %></td>
        <% if current_user.admin %>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post_path(post),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
        <td>
          <% if post.moderation && post.user != current_user %>
              <label>
                <%= check_box_tag :moderation, checked = true, options = post.id %>
                <%= hidden_field_tag :moderation_hidden, options = post.id %>
                Moderation
          <% elsif post.user != current_user %>
              <%= check_box_tag :moderation, options = post.id %>
              Moderation
              </label>
          <% end %>
        </td>
        <% unless current_user == post.user %>
          <td>
            <%= submit_tag %>
          </td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
<% end %>

</table>

<% if @pagination_needed %>
  <%= render partial: "layouts/pagination", locals: { items: @posts } %>
<% end %>