<%= render 'layouts/link' %>

<%= div_for @post do %>
    <div class="large-12 columns border border-box glassy-bg mt pt">
      <p><%= h(@post.title) %></p><br/>
      <strong><%= h(user_email_or_name(@post.user)) %></strong><br/>
      <sup class="text-muted">From <%= time_ago_in_words(@post.created_at)%></sup><br/>
      <div class="mb pb">
        <%= h(@post.text) %>
      </div>
      <div class="tags">
        <%=raw tag_links(@post.all_tags)%>
      </div>
    </div>
<% end %>

<p>
  <%= form_for([@post, @post.comments.build], remote: true) do |f| %>
      <%= f.text_field :text, placeholder: 'Comment..' %>
      <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</p>

<% if @post.moderation %>
  <p>All new comments for this post need to be approved by admin</p>
<% end %>

<h2>Comments</h2>
<% if @comments.empty? %>
    <p>There are no comments to your post yet!</p>
<% else %>
  <div id='comments_wrapper'>
  <table class='table'>
  <thead>
    <th>
      Author
    </th>
    <th>
      Comment
    </th>
  </thead>
<% end %>
  <tbody>
  <% @comments.each do |comment| %>
    <% next unless comment.persisted? %>
      <tr>
        <td>
          <%= comment.author %>
        </td>
        <td>
          <%= comment.text %>
        </td>
        <td>
          <%= link_to 'Destroy Comment', [comment.post, comment],
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
</div>

<%= render partial: "layouts/pagination", locals: { items: @comments } %>

<% if current_user.admin || user_email_or_name(current_user) == user_email_or_name(@post.user) %>
  <%= link_to 'Edit', edit_post_path(@post) %>
<% end %>

<%= link_to 'Back', :back %>