<%= div_for @post do %>
    <div class="large-12 columns border border-box glassy-bg mt pt">
      <strong><%= h(@post.title) %></strong><br/>
      <sup class="text-muted">From <%= time_ago_in_words(@post.created_at)%></sup><br/>
      <div class="mb pb">
        <%= h(@post.text) %>
      </div>
      <div class="tags">
        <%=raw tag_links(@post.all_tags)%>
      </div>
    </div>
<% end %>

<p>
  <%= form_for([@post, @post.comments.build]) do |f| %>
      <%= f.text_field :text, placeholder: 'Comment..' %>
      <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</p>

<% if @post.moderation %>
  <p>All new comments for this post need to be approved by admin</p>
<% end %>

<h2>Comments</h2>
<table class='table'>
  <thead>
  <th>
    Author
  </th>
  <th>
    Comment
  </th>
  </thead>
  <tbody>
  <% @comments.each do |comment| %>
    <% next unless comment.persisted? %>
      <tr>
        <td>
          <%= comment.author %>
        </td>
        <td>
          <%= comment.text %>
        </td>
        <td>
          <%= link_to 'Destroy Comment', [comment.post, comment],
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="tags-cloud glassy-bg">
  <h4>Tags Cloud</h4>
  <% tag_cloud Tag.counts, %w{css1 css2 css3 css4} do |tag, css_class| %>
      <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>

<%= link_to 'Edit', edit_post_path(@post) %>
<%= link_to 'Back', posts_path %>