<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% unless current_user.nil? %>
      <h3><%= "You are logged in as " %> <b><%= "#{current_user.email}"%> </b></h3>
    <% end %>

    <%= yield %>
  </body>
</html>
