<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.pusher.com/3.2/pusher.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% elsif alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <% unless current_user.nil? %>
      <h5><%= "You are logged in as " %> <b><%= "#{user_email_or_name(current_user)}"%> </b></h5>
      <% if current_user.blocked %>
        <h4>Admin has blocked you. Please, make a request to him to solve the problem with access</h4>
      <% end %>
    <% end %>

    <%= yield %>

    <%= render 'layouts/footer' %>
  </body>
</html>
