<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% unless current_user.nil? %>
      <h5><%= "You are logged in as " %> <b><%= "#{current_user.email}"%> </b></h5>
      <% if current_user.blocked %>
          <h4>Admin has blocked you. Please, make a request to him to solve the problem with access</h4>
      <% end %>
    <% end %>

    <%= yield %>

    <%= render 'layouts/footer' %>
  </body>
</html>
